body {
    margin: 0;
    padding: 0;
    font-family: "Cambria", serif;
    background-color: black;
    color: #ffffff;
}
nav {
    list-style: none;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
ul {
}
li {
    display: inline-block;
    list-style-type: none;
    padding-right: 5%;
    font-size: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: lightslategrey;
}
p {
    font-size: 22px;
    text-align: center;
    margin: 30%;
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.videoDiv {
    text-align: center;
    display: block;
}
iframe {
    margin: 5%;
    text-align: center;
    display: inline-block;
}
.aboutMeVideo {
    text-align: center;
}

input[type=text], select, textarea {
    width: 75%;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
}
form{
    font-size: 20px;
}

textarea {
    height: 200px;
}

.img {
    text-align: center;
}